<h2>List Jurusan</h2>
<button (click)=show()>Show</button>

<!-- <div *ngFor="let jurusan of this._componentApp.namaJurusan;let penjelasan of this._componentApp.penjelasan;let i = index">
  {{i+1}}. {{jurusan}} , {{penjelasan}}
</div> -->

<div *ngIf="isShow">
  <div *ngFor="let str of hasil;let i = index">
  {{i+1}}. {{str}}
  </div>

  <!-- <div *ngFor="let jur of _componentApp.namaJurusan;let penj of _componentApp.penjelasan;let i = index">
  {{i+1}}. {{jur}} , {{penj}}
  </div> -->
</div>
